@model SDP.Models.staff

@{
    ViewData["Title"] = "UpdateStaff";
}


<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <p>See what’s new</p>
        <h2>Update Staff</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### Login Area Start ##### -->
<section class="login-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    <h4>staff</h4>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="UpdateStaff">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="staffId" />
                                <div class="form-group">
                                    <label asp-for="email" class="control-label"></label>
                                    <input asp-for="email" class="form-control" />
                                    <span asp-validation-for="email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="name" class="control-label"></label>
                                    <input asp-for="name" class="form-control" />
                                    <span asp-validation-for="name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="contact" class="control-label"></label>
                                    <input asp-for="contact" class="form-control" />
                                    <span asp-validation-for="contact" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="salary" class="control-label"></label>
                                    <input asp-for="salary" class="form-control" />
                                    <span asp-validation-for="salary" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="address" class="control-label"></label>
                                    <input asp-for="address" class="form-control" />
                                    <span asp-validation-for="address" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="role" class="control-label"></label>
                                    <input asp-for="role" class="form-control" />
                                    <span asp-validation-for="role" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>

                    <div>
                        <a asp-action="ViewStaff">Back to List</a>
                    </div>

                </div>
</div>
</div>
</div>
</section>