@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul>
    @if (SignInManager.IsSignedIn(User))
    {
        <li><a asp-action="Index" asp-controller="Home">Home</a></li>
        <li>
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello Admin</a>
        </li>
        <li>
            <form class="form-inline" asp-action="Logout" asp-controller="Account" method="post">
                <button type="submit" class="nav-link btn btn-link text-white">Logout</button>
            </form>
        </li>
    }
    else
    {
        @*<li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">@User.Identity.Name Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>*@
        <li><a asp-action="Index" asp-controller="Customer">Home</a></li>
        <li><a asp-action="Contact" asp-controller="Customer">Contact</a></li>
        <li><a asp-action="AboutUs" asp-controller="Customer">About Us</a></li>
        <li><a asp-action="Login" asp-controller="Account">Login</a></li>

        @*<li><a asp-action="register" asp-controller="Account">Register</a></li>*@



    }
</ul>
