@*@{
        Layout = null;
    }
    <link rel="stylesheet" href="~/css/aboutus.css" />
    <section class="about">

        <h1><b><label>About Us..</label></b></h1>

        <div class="img"></div>

        <div class="paragraph">
            welcome to "mini market" , your number one source for all daily life things [ some basic grocery, food items like {maggie,biscuits,waffers etc.. } ,
            kitchen ingredients like{sachet of oil , masalas , sugar , salt etc..} etc.. ] .we are dedicated to giving you very best products with a focus on these characteristics..
        </div>


        <div class="paragraph1">
            1. Dependability,<br />
            2. Customer Service,<br />
            3. Uniqueness.<br />
         </div>


              <div class="paragraph" >
                In our website all customers are able to look for availability of product they want to purchase.
                we hope you enjoy our products as much as we enjoy offering them to you.If you have any questions ,
                suggestions or complaints please  don't hesitate to contact us.
            </div>*@



@*</section>*@

<link rel="stylesheet" href="~/css/aboutus.css">

<section class="breadcumb-area ">
    <style>
        .breadcumb-area {
            height: 100%;
        }

        #particles-js {
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url(../img/About.jpg);
            /* background: linear-gradient(to bottom, rgba(117, 114, 113, 0.8) 10%, rgba(40, 49, 77, 0.8) 30%, rgba(29, 35, 71, 0.8) 50%, rgba(19, 25, 28, 0.8) 80%, rgba(15, 14, 14, .8) 100%), url(https://38.media.tumblr.com/tumblr_m00c3czJkM1qbukryo1_500.gif); */
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
        }
    </style>
    <div id="particles-js">

        <section class="login-area section-padding-10">
            <div class="demo" style="margin-top:unset;">
                <div class="ttl">About Us..</div>


                <div class="paragraph">
                    welcome to "mini market" , your number one source for all daily life things <br />
                    [ some basic grocery, food items like {maggie,biscuits,waffers etc.. } ,<br />
                    kitchen ingredients like{sachet of oil , masalas , sugar , salt etc..} etc.. ] <br />
                    .we are dedicated to giving you very best products with a focus on these characteristics..<br />




                    1. Dependability,<br />
                    2. Customer Service,<br />
                    3. Uniqueness.<br />




                    In our website all customers are able to look for availability of product they want to purchase.<br />
                    we hope you enjoy our products as much as we enjoy offering them to you.If you have any questions , suggestions or complaints please  don't hesitate to contact us.<br />
                </div>


            </div>



        </section>
    </div>
</section>
