@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="/img/core-img/favicon.ico">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/contact.css">


</head>
<body>

    <header class="header-area">
        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <a href="index.html" class="nav-brand"><img src="/img/core-img/logo.png" alt=""></a>

                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <div class="classy-menu">

                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <div class="classynav">

                                <ul>
                                    <li><a asp-action="Index" asp-controller="Customer">Home</a></li>

                                    @*<li>
            <a href="#">Pages</a>
            <ul class="dropdown">
                <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                <li><a asp-action="Index">Albums</a></li>
                <li><a href="event.html">Events</a></li>
                <li><a href="blog.html">News</a></li>
                <li><a asp-action="Index">Contact</a></li>
                <li><a asp-action="Index">Elements</a></li>

            </ul>

        </li>*@
                                    <li><a asp-action="Contact" asp-controller="Customer">Contact</a></li>
                                    <li><a asp-action="AboutUs" asp-controller="Customer">About Us</a></li>

                                    @if (ViewBag.Email != null)
                                    {
                                        <li><a asp-action="Profile" asp-controller="Customer">@ViewBag.Email</a></li>
                                        <li>
                                            <form class="form-inline" asp-action="Logout" asp-controller="Account" method="post">
                                                <button type="submit" class="nav-link btn btn-link text-white">Logout</button>
                                            </form>
                                        </li>
                                    }
                                    @if (ViewBag.Email == null)
                                    {
                                        <li><a asp-action="login" asp-controller="account">Login</a></li>
                                    }
                                </ul>
                                @*<partial name="_LoginPartial" />*@
                            </div>

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <section class="contactus" id="contactid">
        <div class="container heading text-center">
            <h1 class=" text-center" style="color: #0a192f;">CONTACT US</h1>
            <!-- <p class="pt-1">We're Are Here To Help And Answers Any Question You Might Have, We Look Forward To Hearing
                From You</p> -->
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-10 offset-lg-2 col-md-2 offset-1">
                    <form>
                        <div class="form-group">

                            <input type="text" class="form-control" placeholder="Enter Name" required
                                   autocomplete="off" required id="username">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Enter Email Address"
                                   id="useremail" required autocomplete="off">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter Mobile Number" id="mobno"
                                   required autocomplete="off">
                        </div>
                        <div class="form-group">

                            <textarea class="form-control" rows="4" id="comment" required autocomplete="off"
                                      placeholder="Enter Message..."></textarea>
                        </div>
                        <div class="d-flex justify-content-center formb">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer-area">
        <div class="container">
            <div class="row d-flex flex-wrap align-items-center">
                <div class="col-12 col-md-6">
                    <a href="#"><img src="/img/core-img/logo.png" alt=""></a>
                    <p class="copywrite-text">
                        <a href="#"></a>
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | Dhruval Gandhi <i class="fa fa-heart-o" aria-hidden="true"></i>
                    </p>
                </div>

                <div class="col-12 col-md-6">
                    <div class="footer-nav">
                        <ul>
                            <li><a href="#">Home</a></li>

                            <li><a href="#">News</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <script src="/js/bootstrap/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/plugins/plugins.js"></script>
    <script src="/js/active.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/particles.min.js"></script>

    <script src="/js/particle.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @*@if (IsSectionDefined("Scripts"))
        {
            @RenderSection("Scripts", required: true)

        }*@

</body>
</html>